<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TCATutorial2023.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FE8B0FA02B227F7B00B2A2EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE8B0FB12B227F8400B2A2EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE8B0FBB2B227F8400B2A2EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
